# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android
android/.gradle/
android/local.properties
android/app/debug
android/app/profile
android/app/release

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# IDE
.vscode/
.idea/
*.iml

# System
.DS_Store
Thumbs.db

# Logs
*.log